@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&display=swap");

.mainBanner {
  display: flex;
  align-items: center;
  align-content: center;
  /* width: 80vw; */
  height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
}
.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}
.bigBanner {
  font-size: 2.7em;
}
.imageBanner {
  /* width: 100%; */
  height: auto;
}

@media (max-width: 900px) {
  .imageBanner {
    width: 100%;
    height: auto;
  }
  .mainBanner {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100vh;
  }
  .mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }
  .bigBanner {
    font-size: 1.5rem;
    text-align: center;
  }
}
